{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "breadcrumb-json-ld" .Site.BaseURL }}
{{ $path_segments := split $url "/" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "home",
      "item": "{{ $.Scratch.Get "breadcrumb-json-ld" }}"
    }{{ if gt (len $path_segments) 1 }},{{ end }}
  {{- range $index, $segment := $path_segments -}}
    {{- $.Scratch.Add "breadcrumb-json-ld" $segment -}}
    {{ if ne $segment "" }}
    {
      "@type": "ListItem",
      "position": {{ add $index 2 }},
      "name": "{{ $segment }}",
      "item": "{{ $.Scratch.Get "breadcrumb-json-ld" }}"
    }{{ if (lt (add $index 2) (len $path_segments)) }},{{ end }}
      {{- $.Scratch.Add "breadcrumb-json-ld" "/" -}}
    {{- end -}}
  {{- end -}}
  ]
}
</script>
