{{ define "title" }}Fastest Tracks{{ end }}

{{ define "main" }}

<h1>Fastest Tracks</h1>

<p>
  {{ partial "breadcrumb.html" . }}
  {{ partial "tag-list.html" . }}
</p>

{{ range (where .Site.RegularPages "Section" "track") }}
  {{ partial "computed_track_fields" . }}
  {{ $.Scratch.Add "enriched" (slice (dict "page" . "speed" (.Scratch.Get "speed_rating"))) }}
{{ end }}

<table>
  {{ partial "fast-slow-th" . }}

  {{ range sort ($.Scratch.Get "enriched") ".speed" "desc"}}
    {{ partial "fast-slow-tr" .page }}
  {{ end }}
</table>

{{ end }}
