{{ define "title" }}Fastest Tracks{{ end }}

{{ define "main" }}

<h1>Fastest Tracks</h1>

<p>
  {{ partial "breadcrumb.html" . }}
  {{ partial "tag-list.html" . }}
</p>

<table>
  {{ partial "fast-slow-th" . }}

  {{ range sort (where (.Site.RegularPages.ByParam "speed_rating") "Section" "track") ".Params.speed_rating" "desc" }}

    {{ partial "computed_track_fields.html" . }}
    {{ $speed_rating := .Scratch.Get "speed_rating" }}
    {{ $geometry_type := .Scratch.Get "geometry_type" }}

    {{ partial "fast-slow-tr" . }}
  {{ end }}
</table>

{{ end }}
