{{ define "title" }}Fastest Tracks{{ end }}

{{ define "head" }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1718203835333407",
    enable_page_level_ads: true
  });
</script>
{{ end }}

{{ define "main" }}

<h1>Fastest Tracks</h1>

<p>
  {{ partial "breadcrumb.html" . }}
  {{ partial "tag-list.html" . }}
</p>

{{ range (where .Site.RegularPages "Section" "track") }}
  {{ partial "computed_track_fields" . }}
  {{ $.Scratch.Add "enriched" (slice (dict "page" . "speed" (.Scratch.Get "speed_rating"))) }}
{{ end }}

<table>
  {{ partial "fast-slow-th" . }}

  {{ range sort ($.Scratch.Get "enriched") ".speed" "desc"}}
    {{ partial "fast-slow-tr" .page }}
  {{ end }}
</table>

{{ end }}
