{{ define "title" }}Slowest Tracks{{ end }}

{{ define "main" }}

<h1>Slowest Tracks</h1>

<p>
  {{ partial "breadcrumb.html" . }}
  {{ partial "tag-list.html" . }}
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Speed Rating</th>
  </tr>
  {{ range sort (where (.Site.RegularPages.ByParam "speed_rating") "Section" "track") ".Params.speed_rating" }}
    {{ partial "computed_track_fields.html" . }}
    {{ $speed_rating := .Scratch.Get "speed_rating" }}

    <tr>
      <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
      <td>{{ lang.NumFmt 2 $speed_rating }}</td>
    </tr>
  {{ end }}
</table>

{{ end }}
