before_install:
  - date +%s%N > before_install-start
  - mkdir -p .timing/
  - mv before_install-start .timing/
  - wget https://github.com/gohugoio/hugo/releases/download/v0.48/hugo_0.48_Linux-64bit.tar.gz
  - tar xzvf hugo_0.48_Linux-64bit.tar.gz
  - sudo mv hugo /usr/local/bin/
  - sudo wget https://github.com/stedolan/jq/releases/download/jq-1.5/jq-linux64 -O /usr/local/bin/jq
  - sudo chmod o+x /usr/local/bin/jq
  - date +%s%N > .timing/before_install-end

install:
  - date +%s%N > .timing/install-start
  - date +%s%N > .timing/install-end

before_script:
  - date +%s%N > .timing/before_script-start
  - hugo version
  - jq --version
  - date +%s%N > .timing/before_script-end

script:
  - date +%s%N > .timing/script-start
  - ./bin/travis-script.sh
  - date +%s%N > .timing/script-end

# this has to be after_success because deploy doesn't run for pr builds
after_success:
  - date +%s%N > .timing/after_success-start
  - ./bin/preview-url-to-pr-comment.sh
  - date +%s%N > .timing/after_success-end

after_failure:
  - date +%s%N > .timing/after_failure-start
  - date +%s%N > .timing/after_failure-end

before_deploy:
  - date +%s%N > .timing/before_deploy-start
  - make public/deploy/latest.json
  - cp public/deploy/latest.json public/deploy/$(TRAVIS_BUILD_NUMBER).json
  - sed -i -e "s/123456abcdef/$TRAVIS_COMMIT/" public/index.html
  - date +%s%N > .timing/before_deploy-end

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    local_dir: public/
    bucket: "laps.run"
    skip_cleanup: true
    on:
      repo: tphummel/laps.run
      branch: master
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    local_dir: public/
    bucket: laps.run-preview
    upload-dir: $TRAVIS_BRANCH
    skip_cleanup: true
    on:
      repo: tphummel/laps.run
      all_branches: true
      condition: "$TRAVIS_BRANCH != master"

after_deploy:
  - date +%s%N > .timing/after_deploy-start
  - date +%s%N > .timing/after_deploy-end

after_script:
  - date +%s%N > .timing/after_script-start
  - date +%s%N > .timing/after_script-end
  - tail -n +1 -- .timing/*
