# https://docs.travis-ci.com/user/customizing-the-build/#the-build-lifecycle
# https://docs.travis-ci.com/user/environment-variables/

before_install:
  - date -u +'%Y-%m-%dT%H:%M:%S.%3NZ' > before_install-start
  - wget https://github.com/gohugoio/hugo/releases/download/v0.48/hugo_0.48_Linux-64bit.tar.gz
  - tar xzvf hugo_0.48_Linux-64bit.tar.gz
  - sudo mv hugo /usr/local/bin/
  - sudo wget https://github.com/stedolan/jq/releases/download/jq-1.5/jq-linux64 -O /usr/local/bin/jq
  - sudo chmod o+x /usr/local/bin/jq
  - sudo pip install yq
  - yq --version
  - yq --help
  - yq n --help
  - yq w --help
  - sudo pip install awscli
  - yq new timing.before_install.end "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')" > build.yml
  - yq w -i build.yml timing.before_install.start "$(cat before_install-start)"

install:
  - yq w -i build.yml timing.install.start "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')"
  - yq w -i build.yml timing.install.end "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')"

before_script:
  - yq w -i build.yml timing.before_script.start "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')"
  - hugo version
  - jq --version
  - yq --version
  - aws --version
  - yq w -i build.yml timing.before_script.end "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')"

script:
  - yq w -i build.yml timing.script.start "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')"
  - ./bin/travis-script.sh
  - yq w -i build.yml timing.script.end "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')"

after_success:
  - yq w -i build.yml result "$TRAVIS_TEST_RESULT"

  - yq new timing.after_success.start "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')" > preview-deploy.yml
  # we want preview deploy to be here in after_success because deploy doesn't run for pr builds
  - if [[ $TRAVIS_PULL_REQUEST ]]; then ./bin/deploy-preview-site.sh; fi

  - yq w -i preview-deploy.yml timing.after_success.end "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')"

after_failure:
- yq w -i build.yml result "$TRAVIS_TEST_RESULT"

before_deploy:
  - yq new timing.before_deploy.start "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')" > production-deploy.yml
  # - make public/deploy/latest.json
  # - cp public/deploy/latest.json public/deploy/$(TRAVIS_BUILD_NUMBER).json
  - sed -i -e "s/123456abcdef/$TRAVIS_COMMIT/" public/index.html
  - yq w -i production-deploy.yml timing.before_deploy.end "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')"

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    local_dir: public/
    bucket: "laps.run"
    skip_cleanup: true
    on:
      repo: tphummel/laps.run
      branch: master

after_deploy:
  - yq w -i production-deploy.yml timing.after_deploy.start "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')"
  - yq w -i production-deploy.yml timing.after_deploy.end "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')"

after_script:
  - yq w -i build.yml timing.after_script.start "$(date -u +'%Y-%m-%dT%H:%M:%S.%3NZ')"
  - cat build.yml
  - cat preview-deploy.yml
  # - save production-deploy.sh
