baseurl       = "https://laps.run/"
languagecode  = "en-us"
title         = "Running Venues"
uglyurls      = false
enableGitInfo = true
# disableKinds  = ["section"]

[taxonomies]
  tag = "tags"
  color = "colors"

[params]
    Title = "Running Venues"
    google_maps_token = "AIzaSyAinDLEEbcSxJe9EUMSJe1nOpN_zOiPDDk"
    github_repo = "https://github.com/lapsrun/laps.run/"
    ops_website = "https://ops.laps.run/"
    site_description = "Laps.run is an open-source, collaborative database for running (track and field) venues and their speed characteristics"
    twitter_handle = "laps_run"
    facebook_handle = "laps.run"
    instagram_handle = "lapsrun"

[mediaTypes]
  [mediaTypes."text/csv"]
    suffixes = ["csv"]
  [mediaTypes."image/svg+xml"]
    suffixes = ["svg"]
  [mediaTypes."text/plain"]
    suffixes = ["txt"]

[outputFormats]
  [outputFormats."speed-badge-svg"]
    name = "speed-badge"
    basename = "speed"
    isPlainText = false
    isHTML = false
    mediaType = "image/svg+xml"
  [outputFormats."p8s"]
    name = "p8s"
    basename = "p8s"
    isPlainText = true
    isHTML = false
    mediaType = "text/plain"


[outputs]
  home = ["HTML", "RSS", "p8s"]
  section = ["HTML", "RSS", "CSV"]
  page = ["HTML", "speed-badge"]
