baseurl       = "https://laps.run/"
languagecode  = "en-us"
title         = "Running Venues"
uglyurls      = false
enableGitInfo = true
# disableKinds  = ["section"]

[taxonomies]
  tag = "tags"

[params]
    Title = "Running Venues"
    google_maps_token = "AIzaSyAinDLEEbcSxJe9EUMSJe1nOpN_zOiPDDk"
    github_repo = "https://github.com/lapsrun/laps.run/"
    ops_website = "https://ops.laps.run/"
    site_description = "Laps.run is an open-source, collaborative database for running (track and field) venues and their speed characteristics"
    twitter_handle = "laps_run"

[mediaTypes]
  [mediaTypes."text/csv"]
    suffixes = ["csv"]
  [mediaTypes."image/svg+xml"]
    suffixes = ["svg"]

[outputFormats]
  [outputFormats."image/svg+xml"]
    name = "badge"
    basename = "badge"
    isPlainText = false
    isHTML = false
    mediaType = "image/svg+xml"

[outputs]
  section = ["HTML", "RSS", "CSV"]
  page = ["HTML", "badge"]
