{{- .Scratch.Set "shape_ratio" (sub 1 (div (div .Params.turn_diameter_meters 2) .Params.turn_radius_b_meters)) -}}
{{- .Scratch.Set "turn_distance" (mul .Params.turn_diameter_meters 3.14159265359) -}}
{{- if lt (.Scratch.Get "shape_ratio") -.40 -}}
  {{- .Scratch.Set "geometry_type" "Rectangle" -}}
  {{- .Scratch.Set "turn_distance" (mul (mul 2 .Params.turn_radius_b_meters) 3.14159265359) -}}
  {{- .Scratch.Set "geometry_code" 0 -}}
{{- end -}}
{{- if and (ge (.Scratch.Get "shape_ratio") -.40) (lt (.Scratch.Get "shape_ratio") -.20) -}}
  {{- .Scratch.Set "geometry_type" "Double Bend (1.2.3c)" -}}
  {{- .Scratch.Set "geometry_code" 1 -}}
  {{- .Scratch.Set "turn_distance" (mul (.Scratch.Get "turn_distance") 0.875) -}}
{{- end -}}
{{- if and (ge (.Scratch.Get "shape_ratio") -.20) (lt (.Scratch.Get "shape_ratio") -.10) -}}
  {{- .Scratch.Set "geometry_type" "Double Bend (1.2.3b/d)" -}}
  {{- .Scratch.Set "geometry_code" 2 -}}
  {{- .Scratch.Set "turn_distance" (mul (.Scratch.Get "turn_distance") 0.935) -}}
{{- end -}}
{{- if and (ge (.Scratch.Get "shape_ratio") -.10) (lt (.Scratch.Get "shape_ratio") .05) -}}
  {{- .Scratch.Set "geometry_type" "Single Radius" -}}
  {{- .Scratch.Set "geometry_code" 3 -}}
{{- end -}}
{{- if ge (.Scratch.Get "shape_ratio") .05 -}}
  {{- .Scratch.Set "geometry_type" "Incorrect Measurement Likely" -}}
  {{- .Scratch.Set "geometry_code" 4 -}}
{{- end -}}
{{- .Scratch.Set "straight_distance" (sub .Params.distance_meters (.Scratch.Get "turn_distance")) -}}
{{- .Scratch.Set "net_turn" (sub (.Scratch.Get "turn_distance") (.Scratch.Get "straight_distance")) -}}
{{- .Scratch.Set "speed_rating" (mul (div (.Scratch.Get "net_turn") .Params.distance_meters) 100) -}}

{{- .Scratch.Set "lane_width_meters" (.Params.lane_width_meters | default 1.22) -}}
