{{ define "title" }}laps.run{{ end }}

{{ define "main" }}

<h1>laps.run</h1>

<p>Crowdsourced Running Venue Database</p>

<div class="container">
  <div class="row">
    <div class="column">
      <h3>Newest Tracks</h3>
      {{ range first 5 (where .Data.Pages.ByDate.Reverse "Section" "track") }}
        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
      {{ end }}
      <p><a href="{{ with .Site.GetPage "section" "track" }}{{ .Permalink }}{{ end }}">More...</a></p>
    </div>

  <div class="column">
    <h3>Reports</h3>
    {{ range .Site.Taxonomies.tags.report.Pages }}
      <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
    {{ end }}

  </div>

</div>

{{ end }}
