{{ define "title" }}laps.run{{ end }}

{{ define "main" }}

<h1>laps.run</h1>

<h4>Crowdsourced Running Venue Database</h4>

<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdNmqKrn0QpUNlfief8nuNFCJxbN9VWynTnDO2aBdBZ_eEAzQ/viewform?usp=sf_link">Add a new track</a></p>

<p>Total Track Count: {{ len (where $.Data.Pages "Section" "track") }}</p>

<div class="container">
  <div class="row">
    <div class="column">
      <h2>Newest Tracks</h2>
      {{ range first 5 (where .Data.Pages.ByDate.Reverse "Section" "track") }}
        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
      {{ end }}
      <p><a href="{{ with .Site.GetPage "section" "track" }}{{ .Permalink }}{{ end }}">More...</a></p>
    </div>

  <div class="column">
    <h2>Reports</h2>
    {{ range .Site.Taxonomies.tags.report.Pages }}
      <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
    {{ end }}

  </div>
</div>

<h5>
  <a href="https://twitter.com/laps_run">twitter</a> |
  <a href="https://github.com/tphummel/laps.run">github</a> |
  <a href="/index.xml">rss</a>
</h5>

{{ end }}
