{{ define "main" }}
<h2>{{.Title}}</h2>
      <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->

<p>
  {{ partial "breadcrumb.html" . }}
  {{ partial "tag-list.html" . }}
</p>

<div>{{.Content}}</div>
<div>
  {{ range .Sections.ByTitle }}
    <div>
        <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
        {{ .Summary }}
        <!-- <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a> -->
    </div>
  {{ end }}

  <table>
    <tr>
      <th>Name</th>
      <th>Speed Rating ↓</th>
      <th>Elevation (m)</th>
      <th>Home Lanes</th>
      <th>Lap Lanes</th>
      <th>Color</th>
      <th>Surface</th>
    </tr>
    {{ range (.Data.Pages.ByParam "speed_rating").Reverse }}
      <tr>
          <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
          <td>{{ .Params.speed_rating }}</td>
          <td>{{ .Params.elevation_meters }}</td>
          <td>{{ .Params.home_lanes }}</td>
          <td>{{ .Params.lap_lanes }}</td>
          <td>{{ .Params.surface_color }}</td>
          <td>{{ .Params.surface_type }}</td>
      </tr>
    {{ end }}
  </table>
</div>
<div>
  {{ with  .OutputFormats.Get "csv" -}}
    <h5><a href="{{ .Permalink }}">CSV</a></h5>
  {{- end }}
</div>
{{ end }}
