{{ define "head" }}
{{ partial "json-ld/place-geo.html" . }}
{{ end }}
{{ define "main" }}
<h2>{{.Title}}</h2>
<p>
  {{ partial "breadcrumb.html" . }}
  {{ partial "tag-list.html" . }}
</p>
{{- partial "computed_track_fields.html" . -}}
{{- partial "track-rankings.html" . -}}
{{- $shape_ratio := .Scratch.Get "shape_ratio" -}}
{{- $turn_distance := .Scratch.Get "turn_distance" -}}
{{- $straight_distance := .Scratch.Get "straight_distance" -}}
{{- $speed_rating := .Scratch.Get "speed_rating" -}}
{{- $geometry_type := .Scratch.Get "geometry_type" -}}
<table>
  <tr>
    <td>Speed Rating</td>
    <td>
      <img src="{{ (.OutputFormats.Get "speed-badge").Permalink }}" alt="{{ lang.NumFmt 2 $speed_rating }}" />
    </td>
  </tr>
  <tr>
    <td>Speed Rank - {{ (.Scratch.Get "current_page_region") | upper }}</td>
    <td>{{ .Scratch.Get "region_rank" }}/{{ .Scratch.Get "region_count" }}</td>
  </tr>
  <tr>
    <td>Speed Rank - {{ (.Scratch.Get "current_page_country") | upper }}</td>
    <td>{{ .Scratch.Get "country_rank" }}/{{ .Scratch.Get "country_count" }}</td>
  </tr>
  <tr>
    <td>Speed Rank - World</td>
    <td>{{ .Scratch.Get "world_rank" }}/{{ .Scratch.Get "world_count" }}</td>
  </tr>
  <tr>
    <td># Lanes - Home Straight</td>
    <td>{{ .Params.home_lanes }}</td>
  </tr>
  <tr>
    <td># Lanes - Lap</td>
    <td>{{ .Params.lap_lanes }}</td>
  </tr>
  <tr>
    <td>Lane Width (m)</td>
    <td>{{ .Scratch.Get "lane_width_meters" }}</td>
  </tr>
  <tr>
    <td>Surface Type</td>
    <td>{{ .Params.surface_type }}</td>
  </tr>
  <tr>
    <td>Surface Color(s)</td>
    {{ with .Params.colors }}
      <td>{{ delimit . ", " }}</td>
    {{ else }}
      <td>{{ .Params.surface_color }}</td>
    {{ end }}
  </tr>
  <tr>
    <td>Steeplechase Pit Location</td>
    <td>{{ .Params.steeple_water_location }}</td>
  </tr>
  <tr>
    <td>Elevation (m)</td>
    <td>{{ .Params.elevation_meters -}}</td>
  </tr>
  <tr>
    <td>Total Distance (m)</td>
    <td>{{ .Params.distance_meters }}</td>
  </tr>
  <tr>
    <td>Turn Diameter (m)</td>
    <td>{{ .Params.turn_diameter_meters }}</td>
  </tr>
  <tr>
    <td>Apex Turn Radius (m)</td>
    <td>{{ .Params.turn_radius_b_meters }}</td>
  </tr>
  <tr>
    <td>Turn Shape Ratio</td>
    <td>{{ lang.NumFmt 2 (mul $shape_ratio 100) }}%</td>
  </tr>
  <tr>
    <td>Geometry Type</td>
    <td>{{ $geometry_type }}</td>
  </tr>
  <tr>
    <td>Total Turn Distance (m)</td>
    <td>{{ lang.NumFmt 2 $turn_distance }}</td>
  </tr>
  <tr>
    <td>Turn Pct</td>
    <td>{{ lang.NumFmt 2 (mul (div $turn_distance .Params.distance_meters) 100) }}%</td>
  </tr>
  <tr>
    <td>Total Straightaway Distance (m)</td>
    <td>{{ lang.NumFmt 2 $straight_distance }}</td>
  </tr>
  <tr>
    <td>Straight Pct</td>
    <td>{{ lang.NumFmt 2 (mul (div $straight_distance .Params.distance_meters) 100)  }}%</td>
  </tr>
</table>

{{ .Content }}

<iframe src="https://www.google.com/maps/embed/v1/view?key={{ .Site.Params.google_maps_token }}&center={{ .Params.latitude }},{{ .Params.longitude }}&zoom=18&maptype=satellite" width="450" height="300" frameborder="0" style="border:0"></iframe>
<div>
  <a href="{{ .Permalink }}">This page</a> was last updated: {{ .Lastmod.Format "January 2, 2006" }}.{{ with .GitInfo }} <a href="{{$.Site.Params.github_repo}}commit/{{ .Hash }}">{{ .Subject }} ({{ .AbbreviatedHash }})</a> by <a href="mailto:{{ .AuthorEmail }}">{{ .AuthorName }}</a>{{end }}
</div>
<div>
  <a href="{{.Site.Params.github_repo}}edit/master/content/{{.File.Path}}">Edit</a> |
  <a href="{{.Site.Params.github_repo}}blame/master/content/{{.File.Path}}">Blame</a> |
  <a href="{{.Site.Params.github_repo}}commits/master/content/{{.File.Path}}">History</a>
</div>
{{ end }}
