{{ define "main" }}

<h2>{{.Title}}</h2>

<p>
  {{ partial "breadcrumb.html" . }}
  {{ partial "tag-list.html" . }}
</p>

{{ .Content }}

<table>
  <tr>
    <td># Lanes - Home Straight</td>
    <td>{{ .Params.home_lanes }}</td>
  </tr>
  <tr>
    <td># Lanes - Lap</td>
    <td>{{ .Params.lap_lanes }}</td>
  </tr>
  <tr>
    <td>Surface Type</td>
    <td>{{ .Params.surface_type }}</td>
  </tr>
  <tr>
    <td>Surface Color</td>
    <td>{{ .Params.surface_color }}</td>
  </tr>
  <tr>
    <td>Steeplechase Pit Location</td>
    <td>{{ .Params.steeple_water_location }}</td>
  </tr>
  <tr>
    <td>Total Distance (m)</td>
    <td>{{ .Params.distance_meters }}</td>
  </tr>
  <tr>
    <td>Turn Diameter (m)</td>
    <td>{{ .Params.turn_diameter_meters }}</td>
  </tr>
  <tr>
    <td>Apex Turn Radius (m)</td>
    <td>{{ .Params.turn_radius_b_meters }}</td>
  </tr>
  <tr>
    <td>Turn Shape Ratio</td>
    <td>{{ lang.NumFmt 2 (mul (sub 1 (div (div .Params.turn_diameter_meters 2) .Params.turn_radius_b_meters)) 100) }}%</td>
  </tr>
  <tr>
    <td>Total Turn Distance (m)</td>
    <td>{{ lang.NumFmt 2 (mul .Params.turn_diameter_meters 3.14159265359) }}</td>
  </tr>
  <tr>
    <td>Turn Pct</td>
    <td>{{ lang.NumFmt 2 (mul (div (mul .Params.turn_diameter_meters 3.14159265359) .Params.distance_meters) 100) }}%</td>
  </tr>
  <tr>
    <td>Total Straightaway Distance (m)</td>
    <td>{{ lang.NumFmt 2 (sub .Params.distance_meters (mul .Params.turn_diameter_meters 3.14159265359)) }}</td>
  </tr>
  <tr>
    <td>Straight Pct</td>
    <td>{{ lang.NumFmt 2 (mul (div (sub .Params.distance_meters (mul .Params.turn_diameter_meters 3.14159265359)) .Params.distance_meters) 100)  }}%</td>
  </tr>
  <tr>
    <td>Speed Rating</td>
    <td>{{ lang.NumFmt 2 (sub (div .Params.distance_meters 2) (sub .Params.distance_meters (mul .Params.turn_diameter_meters 3.14159265359))) }}</td>
  </tr>
</table>

<hr />

<iframe src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAinDLEEbcSxJe9EUMSJe1nOpN_zOiPDDk&center={{ .Params.latitude }},{{ .Params.longitude }}&zoom=18&maptype=satellite" width="450" height="300" frameborder="0" style="border:0"></iframe>

{{ end }}
